---
import { Code } from '@astrojs/starlight/components';
import type { loadRenderers } from 'astro:container';
import type { ReactComponentLike } from 'prop-types';

interface Props {
  fileName: string;
}

const { fileName, ...any } = Astro.props;

// Dynamically import both the raw content and the React component
const fsContent = import.meta.glob<{ default: string }>(`./fsharp/*.fs`, {query: '?raw'});
const rawFilePath = `./fsharp/${fileName}.fs`;
const rawContent = await fsContent[rawFilePath]();


const reactComponents = import.meta.glob<{ default: ReactComponentLike }>(`./fsharp/*.jsx`);
const reactFilePath = `./fsharp/${fileName}.jsx`;
const ReactComponent = (await reactComponents[reactFilePath]()).default;

console.log()
---

<div>
  <Code code={rawContent.default} lang="fsharp" {...any} />
  <ReactComponent client:load/>
</div>
