type project
authors Zaid Ajaj
description
    Elmish components as React elements without the boilerplate based on the Feliz API
language
    F#
tags
    fsharp, fable, react, html
files
    *.fsproj ==> fable
    *.fs ==> fable
