group Main
    source https://api.nuget.org/v3/index.json
    storage:none
    lowest_matching: true

    nuget Fable.Browser.Dom
    nuget Fable.Core
    nuget Fable.Elmish.React
    nuget Fable.Mocha
    nuget Fable.React
    nuget Fable.SimpleHttp
    nuget Fable.Promise >= 3.1
    nuget FSharp.Core >= 4.7.2
    nuget Zanaptak.TypedCssClasses
    
group Build
  framework >= net45
  source https://api.nuget.org/v3/index.json

  nuget FAKE ~> 4.64.6