group Main
    source https://api.nuget.org/v3/index.json
    storage:none

    nuget Fable.SimpleHttp
    nuget Feliz.Router
    nuget FSharp.Core
    nuget Fable.Core
    nuget Fable.Elmish.React
    nuget Fable.React
    nuget Zanaptak.TypedCssClasses

group Build
  framework >= net45
  source https://api.nuget.org/v3/index.json

  nuget Fable.MochaPuppeteerRunner
  nuget FAKE ~> 4.64.6