type project
authors Zaid Ajaj
description
    Hooks for dead-simple data fetching with Feliz
language
    F#
tags
    fsharp, fable, react, html, feliz
files
    *.fsproj ==> fable
    *.fs ==> fable
